# Installing The Environment

In order to do any kind of analysis we need the right tools.
Here we are quickly going to install DeepChem and jupyter to work in for the rest of the workshop


```bash
# Install DeepChem
git clone https://github.com/lilleswing/deepchem-slim.git
bash scripts/install_deepchem_conda.sh future_of_care
source activate future_of_care
python setup.py install
cd ..

# Install jupyter
conda install jupyter jupyterlab

#Start your Notebook
jupyter lab
```

## What We Are Doing Today

https://pubs.acs.org/doi/abs/10.1021/acs.molpharmaceut.8b00110
This paper came across my radar last week.  
TODO (Some filler about why p450 is important)

# Grabbing The Data

Training Set
https://pubchem.ncbi.nlm.nih.gov/bioassay/1851

Test Sets
* https://pubchem.ncbi.nlm.nih.gov/bioassay/410
* https://pubchem.ncbi.nlm.nih.gov/bioassay/883
* https://pubchem.ncbi.nlm.nih.gov/bioassay/899
* https://pubchem.ncbi.nlm.nih.gov/bioassay/891
* https://pubchem.ncbi.nlm.nih.gov/bioassay/884

In [94]:
import pandas as pd

In [98]:
df = pd.read_csv('data/AID_1851_datatable_all.csv')
curve_columns = list(filter(lambda x: x.find('CurveClass') > 0, df.columns.tolist()))
score_columns = list(filter(lambda x: x.find('Score') > 0, df.columns.tolist()))
ID_COLUMN = ['PUBCHEM_CID']
df = df[ID_COLUMN+curve_columns + score_columns]

In [99]:
df.columns.tolist()

['PUBCHEM_CID',
 'p450-cyp2c19-Fit_CurveClass',
 'p450-cyp2d6-Fit_CurveClass',
 'p450-cyp3a4-Fit_CurveClass',
 'p450-cyp1a2-Fit_CurveClass',
 'p450-cyp2c9-Fit_CurveClass',
 'Activity Score',
 'Activity Score.1',
 'Activity Score.2',
 'Activity Score.3',
 'Activity Score.4']

In [117]:
import math
def label_column(score, curve_class):
    # Convert Units
    score = float(score)
    curve_class = str(abs(float(curve_class)))
    
    if score >= 40 and curve_class in ("1.1", "1.2", "2.1"):
        return 1
    if curve_class not in ("1.1", "1.2", "2.1"):
        return 0
    return -1

def read_smiles_lookup_map(fname):
    with open(fname) as fin:
        lines = fin.readlines()
        lines = [x.strip().split(',') for x in lines]
        d = {x[0]:x[1] for x in lines}
        return d
        

def df_to_single_task(df, score_column, curve_column):
    cids = df['PUBCHEM_CID'].tolist()[3:]
    curve_classes = df[curve_column].tolist()[3:]
    scores = df[score_column].tolist()[3:]
    
    smiles_lookup = read_smiles_lookup_map('data/smiles_lookup.csv')
    table = []
    for cid, curve_class, score in zip(cids, curve_classes, scores):
        if pd.isna(cid) or pd.isna(curve_class) or pd.isna(score):
            continue
        cid = str(int(cid))
        if cid not in smiles_lookup:
            continue
        smiles = smiles_lookup[cid]
        table.append([smiles,curve_class,score])
        
    final_table = []
    for smile, curve_class, score in table:
        label = label_column(score, curve_class)
        if label == -1:
            continue
        final_table.append([smile, str(label)])
    return final_table
table = df_to_single_task(df, 'Activity Score', 'p450-cyp2c19-Fit_CurveClass')
with open('assets/2c19_train.tsv', 'w') as fout:
    for line in table:
        line = ",".join(line)
        fout.write("%s\n" % line)

In [118]:
# This doesn't line up with the paper!
# This is a very common thing in this field.....
len(y), sum(y),  len(y) - sum(y)

(9323, 5103, 4220)

In [119]:
df = pd.read_csv('data/AID_899_datatable_all.csv')
curve_columns = list(filter(lambda x: x.find('CurveClass') > 0, df.columns.tolist()))
score_columns = list(filter(lambda x: x.find('Score') > 0, df.columns.tolist()))
ID_COLUMN = ['PUBCHEM_CID']
df = df[ID_COLUMN+curve_columns + score_columns]

In [120]:
table = df_to_single_task(df, 'Activity Score', 'p450-cyp2c19-Fit_CurveClass')
with open('assets/2c19_test.tsv', 'w') as fout:
    for line in table:
        line = ",".join(line)
        fout.write("%s\n" % line)

       PUBCHEM_CID                                     Fit_CurveClass
0              NaN                                              FLOAT
1              NaN  Numerical encoding of curve description for th...
2              NaN                                               NONE
3              NaN                                                NaN
4              NaN                                                NaN
5        3232584.0                                                  4
6        3232585.0                                                 -3
7        3232586.0                                                 -3
8        3232587.0                                                 -3
9        3232588.0                                               -2.2
10       3232589.0                                                  4
11       3232590.0                                                  4
12       3232591.0                                                  4
13       3232592.0                                               -2.2
14       3232593.0                                                  4
15       3232594.0                                                  4
16       3232595.0                                               -1.1
17       3232596.0                                                 -3
18       3232597.0                                                1.4
19       3232598.0                                               -2.2
20       3232599.0                                               -2.4
21       3232600.0                                               -1.1
22       3232601.0                                                  4
23       3232602.0                                               -1.1
24       3232603.0                                               -2.1
25       3232604.0                                               -1.1
26       3232605.0                                                  4
27       3232606.0                                               -2.1
28       3232607.0                                                  4
29       3232608.0                                                 -3
...            ...                                                ...
10295   16759118.0                                                  4
10296   16759119.0                                               -2.4
10297   16759119.0                                               -2.1
10298   16759120.0                                               -2.2
10299   16759121.0                                                  4
10300   16759122.0                                                  4
10301   16759123.0                                               -2.1
10302   16759124.0                                                  4
10303   16759124.0                                                  4
10304   16759125.0                                               -2.2
10305   16759125.0                                                  4
10306   16759126.0                                               -2.1
10307   16759126.0                                                  4
10308   16759127.0                                               -2.4
10309   16759127.0                                                  4
10310   16759128.0                                                  4
10311   16759128.0                                                  4
10312   16759129.0                                                  4
10313   16759130.0                                               -2.1
10314   16759131.0                                                  4
10315   16759132.0                                               -1.1
10316   16759133.0                                               -2.4
10317   16759134.0                                               -2.1
10318   16759135.0                                               -2.2
10319   16759136.0                                                  4
10320   16759137.0                                                 -3
10321   16759138.0                                               -1.1
10322   16759139.0                                                  4
10323   16759140.0                                               -1.1
10324   16759141.0                                               -1.1

[10325 rows x 2 columns]

In [121]:
cids = df['PUBCHEM_CID'].tolist()[3:]

In [125]:
cids = list(filter(lambda x: not pd.isna(x), cids))

In [ ]:
cids = [str(int(x)) for x in cids]
smiles = get_smiles(cids)